<!DOCTYPE html> 
<html> 
<head> 
  <meta name="viewport" content="user-scalable=no,initial-scale=1.0,maximum-scale=1.0" />

  <style>
    body { margin: 0px; }
    #tapper { 
      margin: 10px;
      width: 300px;
      height: 300px;
      background-color: #f00; 
    }
  </style>
  
  <script>
    function hex() {
      var hexchars = "0123456789abcedf";
      var hexval = Math.floor(16 * Math.random());
      return hexchars[hexval];
    }
    window.onload = function() {
      var tapper = document.getElementById('tapper')
      tapper.ontouchstart = function() {
        tapper.style.backgroundColor = "#"+hex()+hex()+hex();
      }
    }
  </script>
</head> 
<body>
<div id="tapper"></div>
</body>
</html>
